@charset "UTF-8";
@font-face {
  font-family: "ArialMT";
  src: url(../fonts/ArialMT.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "ArialBold";
  src: url(../fonts/Arial-BoldMT.otf);
  font-weight: 700;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "ArialMT", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

input:active, input:focus, textarea:active, textarea:focus {
  outline: none !important; }

input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0 !important; }

input:focus, textarea:focus {
  outline-style: none;
  outline-width: 0 !important;
  outline-color: transparent !important; }

.header-hat {
  font-size: 30px;
  color: #999;
  transition: color 0.3s; }
  .header-hat i:hover {
    color: #0a27a2; }

.logo {
  margin: 10px auto 30px;
  text-align: center;
  color: #999; }
  .logo-flex {
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0 20px; }
  .logo-flex, .logo-left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .logo-left {
    margin-left: -40px; }
  .logo-text {
    margin-left: -30px; }
  .logo-title {
    padding: 0 5px;
    font-size: 21px;
    font-family: Arial, sans-serif; }
    .logo-title__second {
      padding: 0 5px;
      font-size: 13px;
      letter-spacing: 0.2px;
      font-weight: 300;
      font-family: Arial, sans-serif; }

.container {
  width: 940px;
  margin: auto; }

.hidden {
  display: none; }

input {
  outline: none;
  border: transparent !important; }
  input:hover, input:focus, input:active {
    border: transparent !important;
    outline: none !important; }

#divPlayer1, #divPlayer2 {
  display: none;
  margin-bottom: -5px; }

.form, .start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: #999; }
  .form-body, .start-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px; }
  .form-video, .start-video {
    background: url("../img/cook.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 200px;
    position: relative;
    pointer-events: none; }
    .form-video::after, .start-video::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 45%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 30px solid transparent;
      border-left: 40px solid #0a27a2;
      pointer-events: all;
      cursor: pointer; }
  .form-block, .start-block {
    margin: 0 auto 20px;
    width: 350px;
    text-align: center; }
  .form-checkbox__block, .start-checkbox__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
    width: 100%; }
  .form-input, .start-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;
    color: #808080;
    font-family: ArialMT, sans-serif; }
    .form-input__span, .start-input__span {
      display: none;
      align-self: flex-start;
      margin-top: -5px;
      padding: 0 0 5px 0;
      font-size: 10px;
      color: white;
      font-weight: 300;
      font-family: Arial, sans-serif;
      text-align: left;
      width: 100%; }
  .form-label, .start-label {
    margin: 0 0 0 2px;
    text-align: left;
    color: #eee;
    font-size: 10px;
    cursor: pointer; }
    .form-label:hover, .start-label:hover {
      text-decoration: underline; }
  .form-title, .start-title {
    font-family: "ArialBold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0a27a2; }
  .form-descr, .start-descr {
    margin-bottom: 10px;
    color: #999; }
  .form-img, .start-img {
    position: relative; }
    .form-img::after, .start-img::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 30px solid transparent;
      border-left: 40px solid #0a27a2; }
  .form-bottom, .start-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: #0a27a2;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .form-bottom:hover, .start-bottom:hover {
      background: #0d33d2; }
    .form-bottom__top, .start-bottom__top {
      font-size: 18px;
      font-weight: 700; }
    .form-bottom__second, .start-bottom__second {
      font-size: 14px; }
    .form-bottom__date, .start-bottom__date {
      font-size: 12px; }

.form input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px; }

.form input:-moz-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px; }

.form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }

.form-checkbox + label {
  margin-bottom: 0;
  padding: 3px 22px;
  position: relative;
  cursor: pointer; }

.form-checkbox + label:before {
  content: "";
  position: absolute;
  left: -3px;
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  text-align: center; }

.form-checkbox:checked + label:before {
  content: "✔";
  background: #0a27a2; }

.title {
  margin-bottom: 5px;
  color: #0a27a2;
  font-weight: 700;
  line-height: 1; }

.descr {
  margin-bottom: 15px;
  color: #999;
  font-size: 15px;
  text-align: justify; }

.section {
  margin: 0 auto 20px;
  text-align: center; }

.diploma-license img {
  width: 300px; }
.diploma-license__top, .diploma-license__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px; }
.diploma-license__span {
  font-size: 10px;
  color: #999; }
.diploma-license__middle {
  margin-bottom: 25px; }
  .diploma-license__middle-img {
    display: flex;
    justify-content: space-around;
    align-items: center; }
.diploma-license__bottom {
  margin-bottom: 50px; }
  .diploma-license__bottom img {
    margin-bottom: 5px; }

.knowledge-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; }

.icons {
  margin: 0 auto 20px;
  text-align: center;
  width: 312px; }
  .icons a {
    display: inline-block;
    font-size: 20px;
    background: #999999;
    color: #fff !important;
    padding: 7px 3px 5px;
    width: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .icons a:hover {
      text-decoration: none;
      background: #0a27a2; }

.footer {
  padding: 10px 0;
  background: #999;
  text-align: center;
  color: #fff; }
  .footer-list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 14px; }
    .footer-list li {
      margin: 5px 0; }
    .footer-list li a {
      color: #fff; }
      .footer-list li a:hover {
        text-decoration: underline; }
  .footer-descr {
    font-size: 10px; }

@media screen and (max-width: 991px) {
  .diploma-license img {
    width: 250px; }

  .container {
    width: 700px; } }
@media screen and (max-width: 767px) {
  .container {
    width: 500px; }

  .knowledge-img {
    justify-content: space-between; }
    .knowledge-img img {
      width: 150px; }

  .diploma-license img {
    width: 180px; } }
@media screen and (max-width: 575px) {
  .logo-text {
    margin-left: -40px; }
    .logo-text__title {
      font-size: 16px; }
      .logo-text__title-second {
        font-size: 9.5px;
        letter-spacing: 0.4px; }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    max-width: 500px; }

  .form-block {
    width: 300px; }
  .form-video {
    height: 168px !important;
    width: 100% !important; }
  .form-input {
    width: 280px; }
  .form-title {
    font-size: 18px; }

  .logo {
    margin-bottom: 20px; }

  .diploma-license img {
    width: 250px; }
  .diploma-license__middle-img {
    flex-direction: column; }

  .knowledge-img {
    flex-direction: column; }
    .knowledge-img img {
      width: 200px;
      margin-bottom: 10px; } }
.study {
  margin: auto;
  width: 1200px;
  text-align: center; }
  .study-title {
    margin-bottom: 20px;
    font-size: 18px; }
  .study-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px; }
  .study-block {
    display: flex;
    align-items: flex-end;
    margin: 5px;
    height: 145px;
    width: 290px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    cursor: pointer;
    outline: 3px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .study-block:hover {
      outline: 3px solid #0a27a2; }
    .study-block:hover > .study-block__title {
      background: rgba(10, 39, 162, 0.7);
      color: #fff; }
    .study-block__title {
      padding: 5px;
      text-transform: uppercase;
      color: #0a27a2;
      font-weight: 700;
      font-size: 12px;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
    .study-block__marketing {
      background: url("../img/study/marketing.jpg"); }
    .study-block__adv {
      background: url("../img/study/adv.jpg"); }
    .study-block__design {
      background: url("../img/study/design.jpg"); }
    .study-block__develop {
      background: url("../img/study/develop.jpg"); }
    .study-block__economy {
      background: url("../img/study/economy.jpg"); }
    .study-block__hotels {
      background: url("../img/study/hotels.jpg"); }
    .study-block__languages {
      background: url("../img/study/languages.jpg"); }
    .study-block__manager {
      background: url("../img/study/manager.jpg"); }
    .study-block__psycho {
      background: url("../img/study/psycho.jpg"); }
    .study-block__restaurant {
      background: url("../img/study/restaurant.jpg"); }
    .study-block__style {
      background: url("../img/study/style.jpg"); }
    .study-block__tourism {
      background: url("../img/study/tourism.jpg"); }

.begin-study__title {
  margin: 0 auto 10px;
  max-width: 700px; }
.begin-study__video {
  margin: 0 auto 10px;
  width: 350px; }

@media screen and (max-width: 1199px) {
  .study {
    width: 900px; } }
@media screen and (max-width: 991px) {
  .study {
    width: 700px; } }
@media screen and (max-width: 767px) {
  .study {
    width: 100%; } }
@media screen and (max-width: 599px) {
  .begin-study__video {
    max-width: 300px;
    width: auto; }

  .study-block {
    width: 300px;
    height: 150px; } }
.cook-title {
  margin-bottom: 20px; }
  .cook-title__choose {
    margin-bottom: 20px;
    font-size: 13px; }
.cook-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
.cook-block {
  margin: 5px;
  width: 300px;
  cursor: pointer; }
  .cook-block__img {
    background: url("../img/cook.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 150px; }
  .cook-block__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    padding: 10px;
    background: #999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .cook-block__descr-title {
      font-weight: 700;
      color: #0a27a2;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .cook-block__descr-speciality {
      font-size: 13px;
      color: #fff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  .cook-block:hover > .cook-block__descr {
    background: #0a27a2; }
  .cook-block:hover > .cook-block__descr > .cook-block__descr-title {
    color: #fff; }
  .cook-block:hover > .cook-block__descr > .cook-block__descr-speciality {
    color: #999; }

@media screen and (max-width: 991px) {
  .cook-courses {
    margin: auto;
    width: 620px; } }
@media screen and (max-width: 991px) {
  .cook-courses {
    width: 100%; } }
.about-title {
  margin-bottom: 30px;
  font-size: 18px; }

.contacts-title {
  margin-bottom: 20px; }
  .contacts-title__write {
    color: #999;
    font-size: 12px;
    font-weight: 300; }
.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 30px;
  background: #999;
  width: 350px; }
  .contacts-form__top {
    padding: 10px 0; }
.contacts-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  background: #0a27a2;
  color: #fff;
  cursor: pointer;
  border: none;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .contacts-bottom:hover {
    background: #0d33d2; }
.contacts-consult__call, .contacts-consult__consult {
  color: #999;
  font-size: 12px;
  font-weight: 300; }
.contacts-consult__phone {
  display: block;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 700;
  color: #0a27a2; }
  .contacts-consult__phone:hover {
    text-decoration: underline; }
.contacts-consult__consult {
  margin-bottom: 20px; }
.contacts-consult__workers {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 40px;
  width: 620px; }
  .contacts-consult__workers-block {
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 200px;
    cursor: pointer; }
    .contacts-consult__workers-block__oksana {
      background: url("../img/contacts/person.png") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
    .contacts-consult__workers-block__ivan {
      background: url("../img/contacts/person.png") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
    .contacts-consult__workers-block__ekaterina {
      background: url("../img/contacts/person.png") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
    .contacts-consult__workers-block:hover > .contacts-consult__workers-block__name {
      background: rgba(255, 255, 255, 0.7);
      color: #0a27a2; }
    .contacts-consult__workers-block__name {
      padding: 5px;
      color: #fff;
      font-weight: 700;
      font-size: 12px;
      width: 100%;
      background: rgba(10, 39, 162, 0.7);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
.contacts-address__title {
  color: #999;
  font-size: 12px;
  font-weight: 300; }
.contacts-address__address {
  display: block;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 700;
  color: #0a27a2; }
.contacts-map__photos {
  display: flex;
  margin: 20px auto;
  width: 1200px;
  justify-content: space-between; }
  .contacts-map__photos img {
    width: 290px; }

.contacts-form input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px; }

.contacts-form input:-moz-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px; }

.contacts-form textarea::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px;
  font-family: "ArialMT", sans-serif; }

.contacts-form textarea:-moz-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px;
  font-family: "ArialMT", sans-serif; }

@media screen and (max-width: 1199px) {
  .contacts-map {
    width: 100%; }
    .contacts-map__photos {
      width: 575px;
      flex-wrap: wrap; }
      .contacts-map__photos img {
        width: 280px;
        margin-bottom: 10px; } }
@media screen and (max-width: 767px) {
  .contacts-consult__workers {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; }
    .contacts-consult__workers-block {
      margin-bottom: 10px;
      width: 251px;
      height: 250px; } }
@media screen and (max-width: 575px) {
  .contacts-form {
    width: 300px; }
  .contacts-map__photos {
    justify-content: center;
    width: 100%; }
    .contacts-map__photos img {
      width: 300px; } }
.courses-table.all-courses {
  width: 550px;
  margin: 0 auto 30px;
  color: #283794;
  background: #fff;
  font-weight: bold;
  font-size: 13px;
  border-collapse: collapse; }

.courses-table.all-courses .courses-table__row.courses-table__row_head {
  background: #0a27a2;
  color: #fff;
  cursor: default; }

.courses-table.all-courses .courses-table__row.courses-table__row_head .courses-table__cell {
  text-align: center !important;
  padding: 4px 6px;
  color: #fff; }

.courses-table.all-courses .courses-table__cell:first-child {
  border-left: none;
  text-align: left; }

.courses-table.all-courses tr td:nth-child(2), .courses-table.all-courses tr td:nth-child(3), .courses-table.all-courses tr td:nth-child(4), .courses-table.all-courses tr td:nth-child(5) {
  width: auto; }

.courses-table.all-courses .courses-table__cell:last-child {
  border-right: none;
  white-space: nowrap; }

.courses-table.all-courses .courses-table__cell {
  cursor: pointer;
  position: relative;
  vertical-align: top;
  border: 2px solid #0a27a2;
  text-align: center;
  padding: 6px;
  height: auto; }

.courses-table.all-courses .courses-table__row.courses-table__row_head .courses-table__cell {
  cursor: auto; }

.courses-table.all-courses .nowrap {
  white-space: nowrap; }

.prices-table {
  margin: 0 auto 30px;
  width: 400px;
  font-size: 12px;
  font-weight: 700; }
  .prices-table__title {
    padding: 5px;
    text-align: center;
    color: #fff;
    background: #0a27a2;
    border: 1px solid #0a27a2; }
    .prices-table__title:hover {
      background: #09218a;
      color: #fff; }
  .prices-table__block {
    display: flex;
    color: #0a27a2; }
    .prices-table__block:hover {
      background: #09218a;
      cursor: pointer;
      color: #fff; }
    .prices-table__block-title, .prices-table__block-price, .prices-table__block-hours {
      padding: 5px; }
    .prices-table__block-price, .prices-table__block-hours {
      text-align: center; }
    .prices-table__block-title, .prices-table__block-price {
      width: 40%;
      border-top: 2px solid #0a27a2; }
    .prices-table__block-hours {
      width: 20%;
      border: 2px solid #0a27a2;
      border-bottom: none; }
    .prices-table__block-price__linethrough {
      text-decoration: line-through;
      font-weight: 300; }

.courses-table.all-courses .courses-table__row:hover .courses-table__cell {
  background: #0a27a2;
  color: #fff; }

@media (max-width: 550px) {
  .courses-table.all-courses {
    width: 100%;
    font-size: 12.5px; }

  .courses-table.all-courses .courses-table__row {
    cursor: pointer; }

  .courses-table.all-courses .courses-table__row:hover .courses-table__cell {
    background: #000999;
    color: #fff; }

  .courses-table.all-courses .courses-table__row:hover a {
    color: #fff; }

  .courses-table.all-courses .courses-table__row.courses-table__row_head {
    background: #283794;
    color: #fff;
    cursor: default; }

  .courses-table.all-courses .courses-table__row.courses-table__row_head:hover {
    background: #283794; }

  .courses-table.all-courses .courses-table__row.courses-table__row_head .courses-table__cell {
    text-align: center !important;
    padding: 4px 6px;
    color: #fff; }

  .courses-table.all-courses .courses-table__cell {
    position: relative;
    vertical-align: top;
    border: 2px solid #283794;
    text-align: center;
    padding: 6px;
    height: auto; }

  .courses-table.all-courses .courses-table__cell:first-child {
    border-left: none;
    text-align: left; }

  .courses-table.all-courses .courses-table__cell:last-child {
    border-right: none;
    white-space: nowrap; }

  .courses-table.all-courses .courses-table__row {
    background-color: #fff; }

  .courses-table.all-courses tr td:nth-child(2),
  .courses-table.all-courses tr td:nth-child(3),
  .courses-table.all-courses tr td:nth-child(4),
  .courses-table.all-courses tr td:nth-child(5) {
    width: auto; } }
@media (max-width: 550px) {
  .courses-table.all-courses .courses-table__cell:last-child {
    white-space: normal; }

  .courses-table.all-courses .courses-table__cell:last-child span {
    white-space: nowrap;
    display: block;
    margin-right: 0; }

  .courses-table.all-courses .courses-table__price {
    font-size: 13px; }

  .courses-table.all-courses .courses-table__price_old {
    margin-right: 10px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through; }

  .courses-table.all-courses .fa {
    margin-left: -7px;
    transition: none; }

  .courses-table.all-courses .fa.fa-rub {
    margin-left: -3px; } }
.error404 {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  color: #888;
  line-height: 1; }
  .error404 span {
    display: block; }
  .error404-descr {
    margin: 30px auto;
    text-align: center;
    width: 500px;
    color: #999; }

.login-form__bottom, .remind-form__bottom {
  padding: 15px; }
.login-title, .remind-title {
  margin-bottom: 20px;
  text-align: center;
  color: #0a27a2; }
.login-forgot, .remind-forgot {
  margin: 20px 0 50px;
  text-align: center;
  color: #fff;
  font-size: 12px; }
  .login-forgot:hover, .remind-forgot:hover {
    text-decoration: underline; }
.login-submit, .remind-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  background: #999;
  color: #fff;
  cursor: pointer;
  border: none;
  width: 100%;
  transition: all 0.3s; }
  .login-submit:hover, .remind-submit:hover {
    background: #0a27a2; }

.forgot {
  text-align: center;
  margin: 40px 0;
  font-size: 12px; }
  .forgot-remind {
    margin: 20px 0; }
  .forgot a {
    color: #999; }
    .forgot a:hover {
      text-decoration: underline; }

@media screen and (max-width: 575px) {
  .error404-descr {
    width: 100%; } }
.personal-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px; }
.personal-thanktitle {
  font-size: 20px; }
.personal-questions {
  color: #999;
  margin-top: 30px;
  text-align: center;
  font-size: 15px; }
.personal-write {
  margin-top: 0; }
.personal-btn {
  display: block;
  margin: 10px auto;
  width: 290px;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  background: #0a27a2;
  color: #fff;
  text-align: center;
  transition: background 0.3s;
  cursor: pointer;
  font-weight: 700; }
  .personal-btn a {
    color: #fff; }
  .personal-btn:hover {
    background: #071b72; }
  .personal-btn__submit {
    margin-bottom: 40px; }
.personal-info {
  padding: 15px 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.5; }
.personal-start {
  font-size: 17px;
  padding: 10px 0;
  text-align: center;
  background: #0a27a2;
  color: #ffffff; }
.personal-burger {
  cursor: pointer; }
.personal-menu {
  display: none;
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 99;
  height: 100%;
  overflow: auto; }
  .personal-menu ul {
    display: inline-block;
    float: right;
    list-style: none; }
    .personal-menu ul li a {
      display: block;
      border-left: 2px solid #888;
      border-bottom: 2px solid #888;
      text-decoration: none;
      -webkit-transition: 0.3s;
      text-align: left;
      color: #fff;
      background: #0a27a2;
      opacity: 0.9;
      font-size: 15px;
      padding: 7px 10px;
      line-height: 1.3;
      transition: all 0.3s; }
      .personal-menu ul li a:hover {
        opacity: 1; }
    .personal-menu ul li:first-child a {
      border-top: 2px solid #888; }
.personal-form__wrapper {
  margin: auto;
  padding: 0 15px;
  max-width: 1000px;
  color: #fff; }
.personal-form__block {
  padding: 5px;
  background: #0a27a2; }
  .personal-form__block-title, .personal-form__block-message, .personal-form__block-file {
    display: flex;
    margin-bottom: 10px; }
    .personal-form__block-title label, .personal-form__block-message label, .personal-form__block-file label {
      margin-right: 10px;
      width: 30%;
      text-align: right; }
    .personal-form__block-title input, .personal-form__block-title textarea, .personal-form__block-message input, .personal-form__block-message textarea, .personal-form__block-file input, .personal-form__block-file textarea {
      width: 70%; }
  .personal-form__block-file__buttons {
    display: flex;
    flex-direction: column; }
    .personal-form__block-file__buttons input {
      font-size: 14px;
      margin-bottom: 5px;
      width: 100%; }
      .personal-form__block-file__buttons input:last-child {
        width: 60px; }
.personal-courses__blocks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px auto 50px;
  width: 100%;
  color: #fff; }
.personal-courses__block {
  margin: 0 5px 20px;
  background: #0a27a2;
  width: 180px;
  text-align: center; }
  .personal-courses__block-info {
    padding: 5px; }
  .personal-courses__block-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px; }
  .personal-courses__block-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2; }
  .personal-courses__block-smalltitle {
    margin: 8px 0;
    background: #0a27a2;
    font-size: 13px; }
  .personal-courses__block-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .personal-courses__block-languages span {
      display: block;
      margin: 1px;
      font-size: 12px;
      width: 18%; }
  .personal-courses__block-smallinfo {
    font-size: 14px; }
  .personal-courses__block-hoursprice {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .personal-courses__block-hoursprice strong {
      font-size: 16px; }
  .personal-courses__block-discount {
    font-size: 20px;
    font-weight: 700; }
  .personal-courses__block-action {
    padding: 8px 0; }
    .personal-courses__block-action a {
      color: #fff;
      font-weight: 700;
      line-height: 1.4; }

@media screen and (max-width: 767px) {
  .personal-form__block-header {
    margin-bottom: 20px; }
  .personal-form__block-title, .personal-form__block-message, .personal-form__block-file {
    flex-direction: column; }
    .personal-form__block-title label, .personal-form__block-message label, .personal-form__block-file label {
      width: 100%;
      text-align: left; }
    .personal-form__block-title input, .personal-form__block-title textarea, .personal-form__block-message input, .personal-form__block-message textarea, .personal-form__block-file input, .personal-form__block-file textarea {
      width: 100%; } }
.start-bottom {
  margin-bottom: 20px;
  max-width: 275px; }

a:visited {
  color: inherit; }
