@font-face {
  font-family: "ArialMT";
  src: url(../fonts/ArialMT.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "ArialBold";
  src: url(../fonts/Arial-BoldMT.otf);
  font-weight: 700;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "ArialMT", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

.logo {
  margin: 10px auto 20px;
  text-align: center;
  color: #999; }
  .logo-title {
    margin-bottom: 5px;
    font-size: 21px;
    font-family: "ArialBold", sans-serif;
    font-weight: 700; }
    .logo-title__second {
      font-size: 13px; }

.container {
  width: 940px; }

.hidden {
  display: none; }

input {
  outline: none;
  border: transparent !important; }
  input:hover, input:focus, input:active {
    border: transparent !important;
    outline: none !important; }

#divPlayer1, #divPlayer2 {
  display: none;
  margin-bottom: -5px; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  background: #999; }
  .form-video {
    background: url("../img/cook.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 200px;
    position: relative;
    pointer-events: none; }
    .form-video::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 45%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 30px solid transparent;
      border-left: 40px solid #0a27a2;
      pointer-events: all;
      cursor: pointer; }
  .form-block {
    margin: 0 auto 20px;
    width: 350px;
    text-align: center; }
  .form-checkbox__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
    width: 100%; }
  .form-input {
    width: 320px;
    margin-bottom: 10px;
    padding: 8px 10px;
    color: #808080; }
  .form-label {
    margin: 0 0 0 10px;
    text-align: left;
    color: #eee;
    font-size: 10px;
    cursor: pointer; }
  .form-title {
    font-family: "ArialBold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0a27a2; }
  .form-descr {
    margin-bottom: 10px;
    color: #999; }
  .form-img {
    position: relative; }
    .form-img::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 30px solid transparent;
      border-left: 40px solid #0a27a2; }
  .form-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: #0a27a2;
    color: #fff;
    cursor: pointer; }
    .form-bottom__top {
      font-size: 18px; }
    .form-bottom__second {
      font-size: 14px; }
    .form-bottom__date {
      font-size: 12px; }

.form input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px; }

.form input:-moz-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 14px; }

.title {
  margin-bottom: 5px;
  color: #0a27a2;
  font-weight: 700;
  line-height: 1; }

.descr {
  margin-bottom: 15px;
  color: #999;
  font-size: 15px;
  text-align: justify; }

.section {
  margin: 0 auto 20px;
  text-align: center; }

.diploma-license img {
  width: 300px; }
.diploma-license__top, .diploma-license__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px; }
.diploma-license__span {
  font-size: 10px;
  color: #999; }
.diploma-license__middle {
  margin-bottom: 25px; }
  .diploma-license__middle-img {
    display: flex;
    justify-content: space-around;
    align-items: center; }
.diploma-license__bottom {
  margin-bottom: 50px; }
  .diploma-license__bottom img {
    margin-bottom: 5px; }

.knowledge-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; }

.icons {
  margin: 0 auto 20px;
  text-align: center;
  width: 312px; }
  .icons a {
    display: inline-block;
    font-size: 20px;
    background: #999999;
    color: #fff;
    padding: 7px 3px 5px;
    width: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .icons a:hover {
      text-decoration: none;
      background: #0a27a2; }

.footer {
  padding: 10px 0;
  background: #999;
  text-align: center;
  color: #fff; }
  .footer-list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 14px; }
    .footer-list li {
      margin: 5px 0; }
    .footer-list li a {
      color: #fff; }
      .footer-list li a:hover {
        text-decoration: underline; }
  .footer-descr {
    font-size: 10px; }

@media screen and (max-width: 991px) {
  .diploma-license img {
    width: 250px; }

  .container {
    width: 700px; } }
@media screen and (max-width: 767px) {
  .container {
    width: 500px; }

  .knowledge-img {
    justify-content: space-between; }
    .knowledge-img img {
      width: 150px; }

  .diploma-license img {
    width: 180px; } }
@media screen and (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }

  .form-block {
    width: 300px; }
  .form-video {
    height: 168px !important;
    width: 100% !important; }
  .form-input {
    width: 280px; }
  .form-title {
    font-size: 18px; }

  .logo {
    margin-bottom: 20px; }

  .diploma-license img {
    width: 250px; }
  .diploma-license__middle-img {
    flex-direction: column; }

  .knowledge-img {
    flex-direction: column; }
    .knowledge-img img {
      width: 200px;
      margin-bottom: 10px; } }
