@media screen and (max-width: 991px)
    .diploma
        &-license
            img
                width: 250px

    .container
        width: 700px

@media screen and (max-width: 767px)
    .container
        width: 500px

    .knowledge
        &-img
            justify-content: space-between
            img
                width: 150px

    .diploma
        &-license
            img
                width: 180px


@media screen and (max-width: 575px)
    .container
        padding-left: 15px
        padding-right: 15px
        width: 100%

    .form
        &-block
            width: 300px
        &-input
            width: 280px
        &-title
            font-size: 18px


    .logo
        margin-bottom: 20px

    .diploma
        &-license
            img
                width: 250px
            &__middle
                &-img
                    flex-direction: column
    .knowledge
        &-img
            flex-direction: column
            img
                width: auto
                margin-bottom: 10px