@import "fonts"
@import "variables"

*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

body
    margin: 0
    font-family: 'ArialMT', sans-serif

h1, h2, h3, h4, h5, h6
    margin: 0

a
    text-decoration: none

.logo
    margin: 10px auto 20px
    text-align: center
    color: $text
    &-title
        font-size: 21px
        font-family: Arial, sans-serif
        &__second
            font-size: 13px
            letter-spacing: .2px
            font-weight: 300
            font-family: Arial, sans-serif


.container
    width: 940px

.hidden
    display: none

input
    outline: none
    border: transparent!important
    &:hover, &:focus, &:active
        border: transparent!important
        outline: none!important

#divPlayer1, #divPlayer2
    display: none
    margin-bottom: -5px

.form
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto
    background: $text
    &-body
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 10px
    &-video
        background: url('../img/cook.jpg') center no-repeat
        -webkit-background-size: cover
        background-size: cover
        height: 200px
        position: relative
        pointer-events: none
        &::after
            content: ''
            position: absolute
            top: 50%
            left: 45%
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)
            border: 30px solid transparent
            border-left: 40px solid $headers
            pointer-events: all
            cursor: pointer

    &-block
        margin: 0 auto 20px
        width: 350px
        text-align: center
    &-checkbox
        &__block
            display: flex
            align-items: center
            justify-content: flex-start
            padding-left: 2px
            width: 100%

    &-input
        width: 100%
        margin-bottom: 10px
        padding: 8px 10px
        color: #808080
        &__span
            display: none
            align-self: flex-start
            margin-top: -5px
            padding: 0 0 5px 0
            font-size: 10px
            color: white
            font-weight: 300
            font-family: Arial, sans-serif
            text-align: left
            width: 100%
    &-label
        margin: 0 0 0 2px
        text-align: left
        color: #eee
        font-size: 10px
        cursor: pointer
        &:hover
            text-decoration: underline

    &-title
        font-family: 'ArialBold', sans-serif
        font-weight: 700
        font-size: 20px
        color: $headers
    &-descr
        margin-bottom: 10px
        color: $text
    &-img
        position: relative
        &::after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)
            border: 30px solid transparent
            border-left: 40px solid $headers

    &-bottom
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin: auto
        padding: 10px
        background: $headers
        color: #fff
        cursor: pointer
        border: none
        width: 100%
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -ms-transition: all .3s
        -o-transition: all .3s
        transition: all .3s
        &:hover
            background: lighten($headers, 10)

        &__top
            font-size: 18px
            font-weight: 700
        &__second
            font-size: 14px
        &__date
            font-size: 12px

.form input::-webkit-input-placeholder
    color: rgba(#808080, .5)
    font-size: 14px

.form input:-moz-placeholder
    color: rgba(#808080, .5)
    font-size: 14px

.form-checkbox
    position: absolute
    z-index: -1
    opacity: 0
    margin: 10px 0 0 20px

.form-checkbox + label
    margin-bottom: 0
    padding: 3px 22px
    position: relative
    cursor: pointer

.form-checkbox + label:before
    content: ''
    position: absolute
    left: -3px
    top: 1px
    width: 15px
    height: 15px
    background-color: #ffffff
    text-align: center

.form-checkbox:checked + label:before
    content: '\2714'
    background: $headers

.title
    margin-bottom: 5px
    color: $headers
    font-weight: 700
    line-height: 1

.descr
    margin-bottom: 15px
    color: $text
    font-size: 15px
    text-align: justify

.section
    margin: 0 auto 20px
    text-align: center

.diploma
    &-license
        img
            width: 300px
        &__top, &__bottom
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin-bottom: 25px
        &__span
            font-size: 10px
            color: $text
        &__middle
            margin-bottom: 25px
            &-img
                display: flex
                justify-content: space-around
                align-items: center
        &__bottom
            margin-bottom: 50px
            img
                margin-bottom: 5px

.knowledge
    &-img
        display: flex
        align-items: center
        justify-content: space-around
        margin-bottom: 20px


.icons
    margin: 0 auto 20px
    text-align: center
    width: 312px
    a
        display: inline-block
        font-size: 20px
        background: #999999
        color: #fff
        padding: 7px 3px 5px
        width: 30px
        -webkit-transition: 0.3s
        transition: 0.3s
        &:hover
            text-decoration: none
            background: $headers

.footer
    padding: 10px 0
    background: $text
    text-align: center
    color: #fff
    &-list
        margin-bottom: 0
        padding: 0
        list-style: none
        font-size: 14px
        li
            margin: 5px 0
        li a
            color: #fff
            &:hover
                text-decoration: underline
    &-descr
        font-size: 10px


@import "media"